.baby-call {

  .inner {
  }

  .video-frame {
    width: 100%;

    > div,
    video{
      max-width: 100%;
      height: auto;
      outline: none;
    }

  }

  h3{
    margin: 40px auto 10px;
  }
}

@media (min-width: 600px) {


}
