@import "../../variables";

header .stats {
  width: 100%;
  display: grid;
  text-align: right;
  grid-template-columns: 33% 33% 33%;
}


header .stats > div {
  width: 100%;
  display: inline-block;
  text-align: right;
  font-size: .9rem;
  font-weight: 100;
  line-height: 2rem;
}


header .stats .datetime {
  font-size: 0.5rem;

}
