@import "../../variables";

header .stats {
  width: 100%;
  display: inline-block;
  text-align: right;
  max-width: 200px;
  float: right;
}


header .stats > div {
  margin: 0px 0px 0px 10%;
  display: inline-block;
  text-align: right;
  font-size: 1rem;
  font-weight: 600;
  line-height: 2rem;
}


header .stats .datetime {
  font-size: 0.5rem;

}
