.home-block {
  width: 92%;
  display: inline-block;
  align-items: center;
  text-align: center;
  position: relative;
  background: white;
  box-shadow: 2px 2px 6px #00000030;
  border-radius: 5px;
  padding: 16px 4%;
  min-height: 145px;

  .icon {
    text-align: center;
    padding: 12px 0px 16px;

    i {
      display: inline-block;
      text-align: center;
      font-size: 2rem;
    }
  }

  > div{
    font-size: 0.7rem;
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 600px) {


}
